<div class="min-h-full">
    <header class="h-16 z-50 w-full justify-between flex items-center px-10 sticky top-0 bg-[#4d148c]">
        <a routerLink="/">
            <img width="85" height="25" src="assets/images/logo.png" alt="Fedex logo" srcset="">
        </a>
        <a routerLink="/register" class="text-lg uppercase text-white">
            register
        </a>
    </header>
    <main class="w-full max-w-[738px] md:py-10 md:px-6 mx-auto py-4 px-2">
        <router-outlet></router-outlet>
    </main>
</div>