<section class="text-center">
    <h1 class="text-4xl mb-4">Welcome to the Web coding challenge!</h1>
    <h2 class="text-2xl">The challenge itself is to build a register form and for styling purposes we are gonna mimic FedEx's website.</h2>
</section>
<section class="mt-10 flex flex-col justify-start space-y-4">
    <p class="text-xl">
        To get started navigate to the register page following one of this options:
    </p>
    <ul class="ml-4">
        <li>- Via url to '/register'.</li>
        <li>- Clicking the link 'REGISTER' on the top-right corner within the navigation bar.</li>
        <li>- Clicking the button below.</li>
    </ul>
    <button class="bg-[#ff6200] block w-[200px] self-center text-white font-bold p-4" routerLink="/register">Go to Register page</button>
</section>

